@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --pixelsize: 15px
}
* {
    font-family: Roboto, sans-serif;
}
body {
    padding: 2rem;
    background-color: #fbfbfb;
}
.wrapper {
    display: flex;
    gap: 2rem;
}
.quietzone {
    padding: calc(2*var(--pixelsize));
    border: 1px #ddd solid;
    background-color: white;
}
.qr {
    border-collapse: collapse;
    border: 1px #ddd solid;
}
table, td, th {
  border: .1px #f0f0f0 solid;
}
.pixel {
    width: var(--pixelsize);
    height: var(--pixelsize);
}
.dark {
    background-color: black;
    border-color: black;
}
.questions {
    padding: calc(2*var(--pixelsize));
    background-color: white;
    border: 1px #ddd solid;
    flex-grow: 1;
}
h1 {
    margin-top: 0;
}
h2 {
    font-size: large;
    font-weight: 500;
}