{{ define "base.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
        name="description"
        content="Solve a quiz to fix a broken QR Code. Only worthy puzzlers will be able to scan it to reveal the secret.">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="icon" type="image/x-icon" href="/assets/qr.svg">
</head>
<body>
   <main>
   {{ template "main.html" . }} 
   </main>
   <footer>
    <span>made by <a href="https://github.com/sekthor">sekthor</a></span>
    <span>Go back <a href="/">home</a></span>
    <span><a href="/imprint">imprint</a></span>
   </footer>
</body>
</html>
{{ end }}