{{ define "main.html" }}
<article class="form">
    <h1>Create new Quiz</h1>
    <form id="quizform">
        
        <div>
            <label for="title">Title</label>
            <input name="title" id="title" type="text" placeholder="Name of my Quiz"/>
        </div>
        <div>
            <label for="secret">Secret</label>
            <input name="secret" id="secret" type="text" placeholder="The solution to the quiz (e.g. a link)"/>
        </div>

        <button type="button" onclick="saveQuiz()">Next ></button>
    </form>
</article>
<script src="/assets/form.js" defer></script>
{{ end }}