{{ define "main.html" }}
<article>
    <h1>QR Quiz</h1>
    <p><i>QR Codes for self assembly - in quiz form</i></p>
    <p>
        This is a silly app.
        You can use it to create a quiz.
        You provide a secret solution (such as a link or passphrase) and a number of questions and answers.

        Your solution will be encoded in a QR code.
        The QR code will then be intentionally broken.
        By providing correct answers to the quiz's questions, a user can "fix" the broken QR code and ultimately scan it to reveal the secret.
    </p>
    <button onclick="window.location.href='/new'">Create Quiz</button>
</article>
{{ end }}