{{ define "main.html" }}

<article>
    <h1>Available Quizzes</h1>
    <table class="quizlist" style="font-size: small;">
        <tr style="background-color: #444; color: white;">
            <td>Id</td>
            <td>Name</td>
            <td>Expires</td>
        </tr>
        {{ range .Quizlist }}
        {{ $link := printf "/quiz/%s" .ID }}
        <tr>
            <td>{{ .ID }}</td>
            <td style="width: 99%;"><a style="white-space: nowrap;" href="{{ $link }}">{{ .Title }}</a></td>
            <td>{{ .Expires.Format "02.03.2006" }}</td>
        </tr>
        {{ end }}

    </table>
    {{ end }}
</article>