{{ define "main.html" }}

<article>
    <h1>Available Quizzes</h1>
    <table class="quizlist">
        <tr style="background-color: #ddd;">
            <td>Id</td>
            <td>Name</td>
            <td>Link</td>
        </tr>
        {{ range .Quizlist }}
        {{ $link := printf "/quiz/%s" .ID }}
        <tr>
            <td style="font-size: small;">{{ .ID }}</td>
            <td style="width: 99%;">{{ .Title }}</td>
            <td><a style="white-space: nowrap;" href="{{ $link }}">🔗 open</a></td>
        </tr>
        {{ end }}

    </table>
    {{ end }}
</article>