{{ define "main.html" }}

<article>
    <div class="flex">
        <div class="quiz">
            <h1 style="margin-bottom: .5rem;">{{ .Quiz.Title }}</h1>
            <div style="margin-bottom: 2rem; font-size: small; display: grid; gap:.25rem;">
                <p style="margin: 0;">
                    Copy <a href="" onclick="navigator.clipboard.writeText(window.location.href);">Link</a>
                    or get <a href="#" id="qrlink">QR code</a> to quiz.
                </p> 
                <p style="margin: 0;">This quiz expires at <i>{{ .Quiz.Expires.Format "02. Aug 2006 15:04" }}</i></p>
            </div>
            

            {{ range $i, $question := .Quiz.Questions }}
            <div class="question">
                <strong>{{ $question.Question }}</strong>
                {{ range $question.Answers }}
                    <div>
                        <input type="checkbox" 
                            onchange="batchToggle([{{ range $j, $pixel := .Pixels }}{{ if $j }},{{ end }}[{{ $pixel.X }},{{ $pixel.Y }}]{{ end }}])" 
                            id="{{ .ID }}"/>
                        <label for="{{ .ID }}">{{ .Text }}</label>
                    </div>
                {{ end }}
            </div>
            {{ end }}
        </div>

        <div class="solution">
            <div class="qrwrapper">
                <table id="qr">
                {{ range $y, $row := .Quiz.Initial }}
                    <tr>
                    {{ range $x, $pixel := $row }}
                        <td class="pixel{{ if $pixel }} dark{{ end }}" id="{{ $x }}-{{ $y }}"></td>
                    {{ end }}
                    </tr>
                {{ end }}
                </table>
            </div>
            <span>Solve me!</span>
        </div>
    </div>
</article>
<script>
document.addEventListener("DOMContentLoaded", () => {
    const link = document.getElementById("qrlink");
    if (link) {
        link.href = `/qr?q=${encodeURIComponent(window.location.href)}`;
    }
});
</script>
<script src="/assets/quiz.js" defer></script>
{{ end }}